.submit {
    margin-bottom: 20px;
}

.type {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    background-color: #36d7b7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #2ea795;
}