.error {
    color: red;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin-bottom: 20px;
}

.photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.character {
    font-style: italic;
}